<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      {{title}}
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <!--<ul class="list-group">
        <li
        *ngFor="let empleado of empleadoArreglo" 
        class="list-group-item list-group-item-action"
        (click)="openForEdit(empleado)"
        [ngClass]="{'active':empleado==selectedEmployee}">
          <span class="badge text-bg-primary" >{{empleado.id}}</span>  
          {{empleado.nombre}}-{{empleado.pais}}
        </li>
      </ul>!-->
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <div class="card-title">
            Insertar un nuevo empleado
          </div>
          <div class="mb-3">
            <input type="text" placeholder="Nombre" id="" class="form-control" [(ngModel)]="selectedEmployee.nombre">
          </div>
          <div class="mb-3">
            <input type="text" placeholder="País" id="" class="form-control" [(ngModel)]="selectedEmployee.pais">
          </div>
          <div class="container d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" (click)="AgregaroEditar()">Envíar</button>
          <button class="btn btn-danger" type="button" *ngIf="selectedEmployee.id!==0" (click)="eliminar()">Eliminar</button>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">País</th>
            <th>Boton</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleadoArreglo, let indice=index">
            <th>{{indice+1}}</th>
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.pais}}</td>
            <td><button class="btn btn-secondary" (click)="openForEdit(empleado)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>